.customFrom{
    text-align: center;
    width: 80%;
}

.customFromTax{
    /* width: 50%; */
    
}
/* 
tbody{height: 400px; overflow-y: scroll;display:block;}
th { position: sticky; top: 0; } */
/* tbody{
    height: 400px;
    overflow-y: scroll;
} */